# Python
__pycache__/
*.pyc
*.pt
!backend/yolo11n.pt
# 放行你需要的两个模型文件
!backend/runs/detect/rsod_yolo11n19/weights/best.pt
!backend/runs/detect/rsod_yolo11n19/weights/last.pt
*.pth
*.onnx
.venv/
venv/
env/
*.db

# 图片过滤（不上传 png jpg）
*.jpg
*.jpeg

# 数据库存储
storage/

# 静态文件
backend/static/

# Node.js
node_modules/
dist/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/