# Python
__pycache__/
*.pyc
*.pt
!backend/yolo11n.pt
# 训练好的固定模型
!backend/runs/detect/best_model.pt
!backend/runs/detect/last_model.pt
*.pth
*.onnx
.venv/
venv/
env/
*.db

# 训练数据集（不上传图片）
backend/datasets/
*.jpg
*.jpeg
*.png

# 数据库存储
storage/

# 静态文件
backend/static/

# Node.js
node_modules/
dist/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/